@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Capstone.Web.Models;
@model User

        <h2 class="title">Register</h2>

    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {
        <div class="formValidationGroup">
            @Html.LabelFor(m => m.DisplayName)
            @Html.TextBoxFor(m => m.DisplayName, new { autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.DisplayName)
        </div>

        <div class="formValidationGroup">
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            @Html.ValidationMessage("email-exists")
        </div>
        <div class="formValidationGroup">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="formValidationGroup">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <button class="list_item btn">Flash Forward >></button>

    }